/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# Default/Rspec data store files
default_data_store.csv
backup_data_store.csv
rspec_backup.csv

